body, table {
	font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
	font-size: 0.875rem;
}

p {
	font-size: 1rem;
	line-height: 1.5;
}

.intro {
	background-color: #D3D3D3;
	padding: 20px;
}
.intro_header {
	font-size: 20px;
	margin-bottom: 10px;
}
.chosenMessage {
	background-color: #6495ED;
	color: #fff;
}
.spaceInfoLabel {
	font-weight: bold;
	float: right;
}
.tableHeader {
	margin: 15px;
   // width: 50%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #bbddee;
    padding: 5px;
}
.header {
	width: 50%;
}
.PrevNext img:hover {
	cursor: pointer;
	fill: blue;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.key { color: red; }

.messagesTable{
	display: table;
	width: 100%;
}

.spaceTableName:hover , .theMessage:hover {
	text-decoration: underline;
	color: blue;
}

.spaceTableText {
	font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
	font-size: 14px;
}
.spaceTableName:hover,
.messageContent:hover,
.theMessage:hover {
	color: white;
	background-color: #ccddee;
	cursor: pointer;
}
.spaceTableName.sorting,
.spaceTableName.sorting_asc,
.spaceTableName.sorting_desc,
.theMessage.sorting,
.theMessage.sorting_asc,
.theMessage.sorting_desc {
	text-decoration: none;
	color: #000;
}

#spacesTableWrapper {
	max-width: 500px;
}
table.dataTable thead th, table.dataTable tfoot th {
    text-transform: uppercase;
	font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
	font-size: 12px;
}
.dpcButton {
	margin: 20 20 20 20;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.dpcButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.dpcButton:active {
	position:relative;
	top:1px;
}

.table.dataTable {
	margin: 0;
}


.header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-bottom: 1px solid #dfe3e6;
  cursor: pointer;
}
.header > *,
.header > *:before,
.header > *:after {
  box-sizing: inherit;
}
.header--link {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  height: 3.125rem;
  text-decoration: none;
  padding: 1.5rem 0 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #152935;
}

.header--link > *,
.header--link > *:before,
.header--link > *:after {
  box-sizing: inherit;
}

.header--link .header--link--icon {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-right: 1.25rem;
  fill: #3d70b2;
}

.header--link:hover {
  color: #5596e6;
}

.header--link:hover > .header--link--icon {
  fill: #5596e6;
}

.header--link .previous-page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin-left: .3rem;
}